.footer {
  background-color: #fff;
  background-image: url("/footer-bg.png");
  position: relative;

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #111;
    margin-bottom: 2.2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      background: #4a4644;
      left: 0;
      bottom: -15px;
    }
  }
}

.right__text {
  font-size: 13px;
  font-weight: 400;
  color: #4a4644;
}

.footer__text {
  background-color: rgba(221, 221, 221, 0.19);
}

.footer__link {
  margin-bottom: 1rem;
}

.newsletter {
  &__title {
    font-size: 13px;
    color: #4a4644;
    font-weight: 300;
  }

  &__input {
    width: 196px;
    height: 32px;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 0;
    margin-right: 10px;
    font-size: 13px;
  }

  &__button {
    top: 5871px;
    left: 1114px;
    width: 94px;
    height: 32px;
    background: #9d9d9d 0% 0% no-repeat padding-box;
    opacity: 0.6;
    color: #fff;
    font-size: 13px;
    display: grid;
    place-content: center;
  }
}

.bktop {
  position: absolute;
  right: 12%;
  top: -35px;
  button {
    border: 0;
    background: transparent;
    padding: 0;
    box-shadow: 0px 16px 10px #0000001a;
  }
}

@media (max-width: 767px) {
  .newsletter__input {
    width: 160px;
  }
}
