.footer {
  background-color: #fff;

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #111;
    margin-bottom: 1rem;
  }
}

.footer__text {
  background-color: rgba(221, 221, 221, 0.19);
}

.footer__link {
  margin-bottom: 1rem;
}
