.hero {
  background-color: black;
  background-image: url("/portfoliobanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  color: #e5ebec;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 100px;

  h1 {
    font-size: 3.188rem;
    color: #e5ebec;
    font-size: 2.5rem;
    font-weight: 600;
  }
  h1 span {
    font-weight: 200;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 45vh;
    padding-bottom: 40px;
    h1 {
      font-size: 20pt;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
    }
  }
}
