.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 4rem 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);

  img {
    width: 100%;
    object-fit: cover;
  }

}
.col12 {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col6 {
  flex: 0 0 auto;
  width: 50%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}
.col4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
  margin-bottom: 35px;
}
.offset1 {
  margin-left: 8.3333333333%;
}




.title_desc h2 {
  color: #70797B;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 300;

  span {
    color: #373F41;
    font-weight: 500;
  }
}
.title_desc p {
  color: #70797B;
  font-size: 1rem;
  margin-bottom: 35px;
}
.title_desc hr {
  height: 2px;
  border-width: 0;
  background-color: #373F41;
  width: 2%;
  margin-left: 0;
}
.mb65 {
  margin-bottom: 65px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb30 {
  margin-bottom: 30px;
}
.bgcol6 {
  background-color: #F7F7F7;
  padding: 30px 50px 40px;
  text-align: center;
  margin-bottom: 30px;

  h5 {
    text-transform: uppercase;
  }
}
.center {
  text-align: center;
  margin-bottom: 20px;

  hr {
    margin-left: auto;
    width: 3%;
    height: 1px;
  }
}

.iconBox{
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  padding: 20px 60px;
  margin-bottom: 30px;

  h5 {
    text-transform: uppercase;
  }
  
  img {
    width: 50px;
    object-fit: cover;
    margin-right: 35px;
  }
}
.textLeft {
  text-align: left;
}