.main {
  padding: 4rem 0 0;
  img {
    width: 100%;
    object-fit: cover;
  }
  h5 {
    text-transform: uppercase;
    color: #373f41;
    font-size: 1rem;
    margin-bottom: 25px;
    font-weight: 400;
  }
}

.title_desc {
  h2 {
    color: #70797b;
    font-size: 1.25rem;
    line-height: 20px;
    font-weight: 100;
    position: relative;
    span {
      color: #373f41;
      font-weight: 400;
    }
    &:after {
      content: "";
      position: absolute;
      left: 11px;
      bottom: -15px;
      height: 1px;
      width: 2%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-bottom: 1px solid #373f41;
    }
  }
  p {
    color: #70797b;
    font-size: 0.875rem;
    margin-bottom: 20px;
    font-weight: 200;
  }
}

.mb65 {
  margin-bottom: 65px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb10 {
  margin-bottom: 10px;
}

.bgcol6 {
  background-color: #f7f7f7;
  padding: 30px 50px 40px;
  text-align: center;
  margin-bottom: 20px;
}
h2.h2title:after {
  left: 50%;
  width: 38px;
}

.iconBox {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 50px 60px 60px;
  height: 100%;

  h5 {
    text-transform: uppercase;
  }

  img {
    width: 50px;
    object-fit: cover;
    margin-right: 35px;
  }
  p {
    margin-bottom: 0;
  }
}
.cntRow {
  h5 {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  p {
    margin-bottom: 0px;
  }
}
