.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 4rem 0 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);

  img {
    width: 100%;
    object-fit: cover;
  }
}
.col12 {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.title_desc h2 {
  color: #70797b;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 40px;
  position: relative;

  span {
    color: #373f41;
    font-weight: 500;
  }
  &:after {
    content: "";
    position: absolute;
    left: 11px;
    bottom: -15px;
    height: 1px;
    width: 2%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #373f41;
  }
}
.title_desc p {
  color: #70797b;
  font-size: 1rem;
  margin-bottom: 35px;
}
.title_desc hr {
  height: 2px;
  border-width: 0;
  background-color: #373f41;
  width: 2%;
  margin-left: 0;
}
.mt25 {
  margin-top: 25px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb30 {
  margin-bottom: 30px;
}

.titleh5 {
  text-transform: uppercase;
}

.broBtn {
  width: 145px;
  height: 36px;
  background: #3b3836;
  color: #e5ebec;
  border: none;
  outline: none;

  img {
    width: auto;
    margin-right: 15px;
  }
}

.slideBtn button {
  border: unset;
  background: transparent;
  outline: none;
}
.border {
  border: 1px solid #fafafa;
  height: 615px;
  box-shadow: 0 33px 41px rgb(0 0 0 / 9%);
  background-color: #fafafa;
}

@media (max-width: 767px) {
  .title_desc {
    h2 {
      font-size: 20pt;
      &:after {
        border-bottom: 0px;
      }
    }
    p {
      font-size: 14pt;
      font-weight: 200;
      line-height: 22px;
      margin-bottom: 0px;
    }
  }
  .titleh5 {
    margin-bottom: 15px;
    font-size: 18pt;
  }
}
