.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bghero {
  background-color: black;
  background-image: url("/contactbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 100px;

  h1 {
    font-size: large;
    color: aliceblue;
    font-size: 3rem;
  }
}

.bgheroFrom {
  display: flex;
  justify-content: center;

  .heroFrom {
    width: 766px;
    background: #0F0F0F;
    border-radius: 5px;
    padding: 45px 30px 50px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}
.col12 {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col6 {
  flex: 0 0 auto;
  width: 50%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}