// Default variable overrides

$body-color: #70797b;
$primary: #455052;

@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

:root {
  scroll-behavior: unset;
}

body {
  font-size: 14px;
  font-family: GothamPro;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #70797b;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0px;
  padding: 0.8rem 2rem;
}

.product__title {
  color: #111;
  text-transform: uppercase;
  font-size: 23px;
}

.social__media__icons {
  height: 29px;
  width: 29px;
  background: #b7b5b6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  margin-right: 10px;
  display: grid;
  place-content: center;
  color: #fff;
}

.section__title {
  color: #70797b;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 300;
  position: relative;

  ::after {
    height: 2px;
    border-width: 0;
    background-color: #373f41;
    width: 2%;
    margin-left: 0;
    position: relative;
    content: "";
  }

  span {
    color: #373f41;
    font-weight: 500;
  }
}

.form {
  &__button {
    background: #bfbfbf;
    border: 1px solid #ffffff80;
    border-radius: 5px;
    margin: 15px 0 0;
    color: #000000;
    height: 46px;
  }
}

.pagination {
  li {
    border: 1px solid grey;
    padding: 10px;
    padding-left: 20px;
    margin-right: 15px;
    min-width: 50px;
    height: 50px;
    position: relative;

    &.active {
      border-width: 2px;
    }

    &.previous {
      min-width: unset;
      width: 100px;
      // padding-right: 100px;
    }

    &.next {
      min-width: unset;
      width: 100px;
      // padding-right: 100px;
    }

    a {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      place-content: center;
    }
  }
}

li.previous.disabled {
  background: rgb(221, 221, 221);
}

li.next.disabled {
  background: rgb(221, 221, 221);
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  width: 18px;
  height: 36px;
  z-index: 1002;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;

  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
    &:before,
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      content: "";
    }
    &:before {
      top: -6px;
    }
    &:after {
      bottom: -6px;
    }
  }
}

.c-hamburger--htx {
  span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
    &:before,
    &:after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;
    }
    &:before {
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, transform;
    }
    &:after {
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    span {
      background: none;

      &:before,
      &:after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
      }

      &:before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.sub-menu {
  padding: 0 0 0 75px;
  float: right;
  left: 0px;
  top: 0;
  transition: all 0.3s ease;
  height: 100%;
  width: 75px;
  position: fixed;
  margin: 0;
  background-color: #212527;
  border-radius: 0;
  z-index: 1000;
  overflow: hidden;
  // display: none;

  &.oppenned {
    left: 0;
    width: 310px;
  }
}

p {
  font-size: 1rem;
}

.slidenavLine {
  img {
    width: 100%;
  }
  .slick-dots {
    bottom: -65px;
  }
  .slick-dots li {
    width: 25px;
    height: 3px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #e5ebec;
    opacity: 0.68;
  }
  .slick-dots li.slick-active {
    opacity: 1;
  }
  .slick-dots li button {
    width: 25px;
    padding: 0px;
  }
  .slick-dots li button:before,
  .slick-dots li.slick-active button:before {
    color: transparent;
  }
}

.filterCheck {
  .checkbox-button {
    cursor: pointer;
  }

  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
  }

  .checkbox-button__input {
    opacity: 0;
    position: absolute;
  }

  .checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 2px;
  }

  .checkbox-button__input:checked + .checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #707070;
  }

  .checkbox-button__input:checked + .checkbox-button__control {
    border-color: #707070;
  }

  .checkbox-button__control {
    transform: scale(0.75);
  }

  .accordion-item {
    border: unset;
    background: transparent;
  }

  .accordion-button {
    color: #696969;
    background-color: #efefef;
    font-size: 0.875rem;
    box-shadow: unset;
    padding: 0.85rem 1.25rem;
  }
  .accordion-button:focus {
    box-shadow: unset;
    outline: none;
  }
  .checkbox-button__label {
    color: #535252;
    font-size: 0.75rem;
    font-weight: 200;
  }
}

.slidenavLine {
  .carousel-indicators {
    top: 45%;
    bottom: auto;
    margin-right: 0%;
    left: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .carousel-inner {
    z-index: -1;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel {
    height: 100vh;
  }

  .carousel-item {
    height: 100%;
  }

  .carousel-indicators [data-bs-target] {
    background: #dfdfdf 0% 0% no-repeat padding-box;
  }

  .carousel-caption {
    position: absolute;
    bottom: 12%;
    left: 12%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;

    h1 {
      font-size: 3.188rem;
      font-weight: 600;
      color: #e5ebec;
      span {
        font-weight: 200;
      }
    }
  }

  .scrollanim {
    height: 29px;
    width: 16px;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 8%;
    left: 50%;
    border-radius: 9px;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      top: -5px;
    }

    50% {
      top: 1px;
    }
  }

  .scrollanim span {
    font-size: 40px;
    position: absolute;
    top: 2px;
    line-height: 0;
    margin: 0;
    line-break: 0;
    color: #ffffff;
    left: 2px;
    animation: MoveUpDown 1.5s linear infinite;
  }
}

.error {
  font-size: 13px;
  font-weight: 300;
}

.favourite__icon {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  // pointer-events: none;
  height: 30px;
  width: 30px;
}
.web-only {
  display: flex !important;
}
.mobile-only {
  display: none !important;
}

.mobileSidebar {
  background-color: #212527;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 100%;
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: -moz-box;
  display: none;
  text-orientation: sideways-right;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  color: #e5ebec;
  font-weight: 200;
  text-transform: capitalize;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  z-index: 1000;
}

@include media-breakpoint-down(sm) {
  .web-only {
    display: none !important;
  }
  .mobile-only,
  .mobileSidebar {
    display: flex !important;
  }
  .sub-menu {
    display: none;
  }
  .mobileSidebar {
    z-index: auto;
    height: 100vh;
  }
  .logoCustom {
    position: absolute;
    left: 20px;
    z-index: 1000;
    bottom: 10px;
  }
  .slidenavLine .carousel-caption h1,
  .slidenavLine .carousel-caption .h1 {
    font-size: 19pt;
  }
  .slidenavLine .slick-dots {
    bottom: -35px;
  }
  .slidenavLine .carousel-caption {
    left: 22%;
  }
  .pagination {
    overflow: scroll;
  }
  .pagination::-webkit-scrollbar {
    display: none;
  }
}
@include media-breakpoint-only(sm) {
  .web-only {
    display: none !important;
  }
  .mobile-only,
  .mobileSidebar {
    display: flex !important;
  }
  .sub-menu {
    display: none;
  }
  .mobileSidebar {
    z-index: auto;
  }
  .logoCustom {
    position: absolute;
    left: 20px;
    z-index: 1000;
    bottom: 10px;
  }
  .slidenavLine .carousel-caption h1,
  .slidenavLine .carousel-caption .h1 {
    font-size: 19pt;
  }
  .slidenavLine .slick-dots {
    bottom: -35px;
  }
  .slidenavLine .carousel-caption {
    left: 22%;
  }
  .pagination {
    overflow: scroll;
  }
  .pagination::-webkit-scrollbar {
    display: none;
  }
}

.mobile-menu {
  float: left;
  left: auto;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  height: 100vh;
  width: 75px;
  position: fixed;
  margin: 0;
  border-radius: 0;
  z-index: 1000;
  overflow: hidden;

  &.oppenned {
    left: 0;
    width: 100%;
  }
  .sideMenu {
    background-color: #212527;
    margin-top: 0px;
    padding: 75px 0 0 50px;
    height: 100%;

    h6 {
      font-size: 1.7rem;
      &::after {
        border-bottom: none;
      }
    }
  }
  .smlinks ul {
    display: inline-flex;
  }
}
.error {
  font-size: 13px;
  font-weight: 300;
}
.btn {
  padding: 0.8rem 0rem;
}
.btn__outline {
  font-size: 12px;
  font-weight: 200;
}
@media (max-width: 340px) {
  .btn__outline {
    padding: 8px 10px;
  }
  .mobileSidebar {
    width: 65px;
  }
  .slidenavLine .carousel-caption {
    left: 25%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
  .container.headContainer {
    max-width: 725px;
  }
}
@media (min-width: 992px) {
  .container,
  .container.headContainer {
    max-width: 860px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container.headContainer {
    max-width: 1085px;
  }
}
.stf__parent canvas,
div.react-pdf__Page__textContent {
  width: 100% !important;
}
.w19 {
  width: 19px;
}
