html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1120px;
  border: red;
  margin: 0 auto;
}

.btn__outline {
  padding: 10px 25px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  // opacity: 0.64;
}
