.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bghero {
  background-color: black;
  background-image: url("/contactbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 47% 0 50px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}
.col12 {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col6 {
  flex: 0 0 auto;
  width: 50%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

.bgheroFrom {
  display: flex;

  .heroFrom {
    width: 410px;
    background: #0F0F0F;
    border-radius: 5px;
    padding: 30px 30px 90px;

    h4 {
      font-size: 16px;
      margin: 0 0 30px;
      font-weight: 400;
      color: #FFFFFF;
    }
    label {
      width: 100%;
      font-size: 14px;
      color: #FFFFFF;
      font-weight: 300;
    }
    input, textarea {
      width: 100%;
      background: #171717;
      border: 1px solid #FFFFFF80;
      border-radius: 5px;
      margin: 10px 0 20px;
      height: 46px;
      outline: unset;
      color: #FFFFFF65;
      padding: 0 15px;
    }
    input::placeholder, textarea::placeholder {
      color: #FFFFFF65;
    }
    textarea {
      height: 85px;
    }
    input[type="submit"] {
      background: #BFBFBF;
      border: 1px solid #FFFFFF80;
      border-radius: 5px;
      margin: 15px 0 30px;
      color: #000000;
    }
    p {
      margin: 0;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 300;

      a {
        text-decoration: underline;
      }

    }

    .chkBox input {
      width: auto;
      margin: auto;
      vertical-align: middle;
      margin-right: 15px;
    }
  }
}

.titleBox {
  margin-top: 75px;

  h6 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
  }
  h1  {
    font-size: 45px;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 0 15px;
  }
  h5 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
}
