.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bghero {
  background-color: black;
  background-image: url("/contactbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 47% 0 50px;
}
.bgContainer {
  height: 70vh;
  margin-top: 95px;
  display: flex;
  align-items: center;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col12 {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
  margin-bottom: 20px;
}
.col6 {
  flex: 0 0 auto;
  width: 50%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.bgheroFrom {
  display: flex;

  .heroFrom {
    width: 410px;
    background: #0f0f0f;
    border-radius: 5px;
    padding: 30px 30px 15px;
    height: 500px;

    h4 {
      font-size: 16px;
      margin: 0 0 30px;
      font-weight: 200;
      color: #ffffff;
    }
    label {
      width: 100%;
      font-size: 14px;
      color: #ffffff;
      font-weight: 300;
    }
    input,
    textarea {
      width: 100%;
      background: #171717;
      border: 1px solid #ffffff80;
      border-radius: 5px;
      margin: 10px 0 0;
      height: 46px;
      outline: unset;
      color: #ffffff65;
      padding: 0 15px;
      font-weight: 200;
    }
    input::placeholder,
    textarea::placeholder {
      color: #ffffff65;
    }
    textarea {
      height: 85px;
    }
    input[type="submit"] {
      background: #bfbfbf;
      border: 1px solid #ffffff80;
      border-radius: 5px;
      margin: 15px 0 30px;
      color: #000000;
    }
    p {
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;

      a {
        text-decoration: underline;
      }
    }

    .checkboxButton {
      cursor: pointer;
      position: relative;
    }

    .chkBox input[type="checkbox"] {
      box-sizing: border-box;
      padding: 0;
    }

    .chkBox input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0;
      outline: 0;
      background-color: transparent;
    }

    .checkboxButtonInput {
      opacity: 0;
      position: absolute;
    }

    .checkboxButtonControl {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 12px;
      vertical-align: middle;
      background-color: inherit;
      color: #707070;
      border: 1px solid #707070;
      border-radius: 2px;
    }

    .checkboxButtonInput:checked + .checkboxButtonControl:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 8px;
      height: 8px;
      background-color: #707070;
    }

    .checkboxButtonInput:checked + .checkboxButtonControl {
      border-color: #707070;
    }

    .checkboxButtonControl {
      transform: scale(0.75);
    }
  }
}

.titleBox {
  margin-top: 75px;

  h6 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
  }
  h1 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 400;
    margin: 0 0 15px;
  }
  h5 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .bghero,
  .bgContainer {
    height: 100%;
    padding: 25px 0;
  }
  .titleBox {
    margin-top: 0px;
    h1 {
      font-size: 22pt;
    }
  }
  .bgheroFrom {
    display: flex;

    .heroFrom {
      width: auto;
    }
  }
}
