.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bghero {
  background-color: black;
  background-image: url("/contactbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 54% 0 50px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}
.col12 {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col6 {
  flex: 0 0 auto;
  width: 50%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}
.col4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
  margin-bottom: 35px;
}

.bgheroFrom {
  display: flex;
  justify-content: center;

  .profile {
    width: 766px;
    background: #0F0F0F;
    border-radius: 5px;
    padding: 45px 30px;

    h2 {
      margin: 20px 0 0;
      font-size: 25px;
      color: #FFFFFF;
      margin-bottom: 25px;
      font-weight: 400;
    }
    h4 {
      margin: 0 0 40px;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 400;
    }
    label {
      width: 100%;
      font-size: 14px;
      color: #FFFFFF;
      font-weight: 300;
    }
    input, textarea {
      width: 100%;
      background: #171717;
      border: 1px solid #FFFFFF80;
      border-radius: 5px;
      margin: 10px 0 20px;
      height: 46px;
      outline: unset;
      color: #FFFFFF65;
      padding: 15px;
    }
    input::placeholder, textarea::placeholder {
      color: #FFFFFF65;
    }
    textarea {
      height: 85px;
    }
    input[type="submit"] {
      background: #BFBFBF;
      border: 1px solid #FFFFFF80;
      border-radius: 5px;
      margin-bottom: 0;
      color: #000000;
    }
  }
}
.picEdit {
  position: relative;
  width: 97px;
}
.camIcon img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.proDetails {
  border-left: 1px solid #FFFFFF65;
  padding-left: 40px;
  p {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 0 25px;
    font-size: 14px;
  }
  p.pmt20 {
    margin-bottom: 20px;
  }
  p:last-child {
    margin-bottom: 0px;
  }
}
.profile .btn {
  text-align: right;
  margin-bottom: 40px;
  button {
    background: #BFBFBF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 5px;
    width: 111px;
    height: 32px;
  }
}