.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 4rem 0;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.col4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
  margin-bottom: 35px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.col4img {
  position: relative;

  h6 {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.8;
  }
  h6:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 1px;
    width: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #fafafa;
  }
}

.title_desc h2 {
  color: #70797b;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 300;

  span {
    color: #373f41;
    font-weight: 500;
  }
}

.title_desc p {
  color: #70797b;
  font-size: 1rem;
  line-height: 20px;
}

.mb50 {
  margin-bottom: 50px;
}
