.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 4rem 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);

  img {
    width: 100%;
    object-fit: cover;
  }
}

.title_desc h2 {
  color: #70797b;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 300;
  position: relative;
  margin-bottom: 50px;

  span {
    color: #373f41;
    font-weight: 500;
  }

  &:after {
    content: "";
    position: absolute;
    left: 11px;
    bottom: -15px;
    height: 1px;
    width: 2%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #373f41;
  }
}
.title_desc p {
  color: #70797b;
  font-size: 1rem;
  margin-bottom: 35px;
}
.mt15 {
  margin-top: 15px;
}
.mt25 {
  margin-top: 25px;
}
.mb75 {
  margin-bottom: 75px;
}

.formBox {
  label {
    width: 100%;
    font-size: 14px;
    color: #171717;
    font-weight: 400;
  }
  input,
  textarea,
  select {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0 20px;
    height: 46px;
    outline: unset;
    color: #17171765;
    padding: 0 15px;
    border: 1px solid #4550522e;
  }
  input::placeholder,
  textarea::placeholder {
    color: #17171765;
  }
  textarea {
    height: 85px;
  }
  input[type="submit"] {
    width: 201px;
    height: 54px;
    background: #455052;
    color: #f8f8f8;
    font-size: 14px;
  }
  .txtrgt {
    text-align: right;
  }
}
.mt30 {
  margin-top: 30px;
}

.formBox input[type="file"] {
  border: 2px dashed #eee;
  height: 46px;
  background: transparent;
  width: 100%;
  color: #17171765;
  outline: unset;
  padding: 10px 20px;
}
.formBox input[type="file"]:before {
  content: "Upload Files";
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.formBox input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

@media (max-width: 767px) {
  .title_desc {
    h2 {
      font-size: 18pt;
      &:after {
        border-bottom: none;
      }
    }
    p,
    label {
      font-size: 14pt;
    }
  }
}
